{% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
<form name="dsj_cms_pagecontent" method="post" action="{{ path('dsj_cms_page_content_form', {page: entity.id}) }}" class="form-horizontal" id="page_pagecontent_form" {{ form_enctype(form) }}>
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-pencil"></i> Pagina opbouw bewerken
            </div>
            <div class="actions">
                {{ form_widget(form.newRow, {'attr': {'class': 'btn green'} }) }}
            </div>
        </div>
        <div class="portlet-body">
            <div id="pageRows" class="row clearfix" data-prototype="{{ form_widget(form.pageRows.vars.prototype)|e }}">
                {% for pageRow in form.pageRows %}
                    {% set pageRowID = loop.index0 %}
                    <div id="pageRow_{{ pageRowID }}" class="col-md-12 page-row">
                        <div class="portlet box grey">
                            <div class="portlet-title">
                                <div class="caption">Pagina regel</div>
                                <div class="actions">
                                    <div class="btn-group">
                                        <a class="btn yellow sort-handle" href="#" onclick="return false;" style="margin:-1px 7px 0 0;"><i class="fa fa-arrows"></i> Verplaatsen</a>
                                        &nbsp;<a class="btn green" href="#" data-toggle="dropdown"><i class="fa fa-pencil"></i> Item toevoegen <i class="fa fa-angle-down "></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="add_content" data-size="4" data-row="{{ loop.index0 }}">1/3 breedte</a></li>
                                            <li><a href="#" class="add_content" data-size="6" data-row="{{ loop.index0 }}">1/2 breedte</a></li>
                                            <li><a href="#" class="add_content" data-size="8" data-row="{{ loop.index0 }}">2/3 breedte</a></li>
                                            <li><a href="#" class="add_content" data-size="12" data-row="{{ loop.index0 }}">1/1 breedte</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn red delete_row" data-id="{{ pageRowID }}"><i class="fa fa-trash-o"></i> Verwijderen</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                {% do pageRow.pageContent.setRendered %}
                                {{ form_widget(pageRow) }}

                                <div class="row contentContainer_{{ loop.index0 }} contentItems" data-prototype="{{ form_widget(pageRow.pageContent.vars.prototype)|e }}">
                                    {% for content in pageRow.pageContent %}
                                        <div id="contentitem{{ pageRowID }}_{{ loop.index0 }}" class="col-md-{{ content.vars.value.size }} contentitem contentitem{{ pageRowID }}_{{ loop.index0 }}" data-size="{{ content.vars.value.size }}">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="actions pull-right">
                                                        <div class="btn-group">
                                                            <a href="#" data-type="{% if content.vars.value.type %}{{ content.vars.value.type.id }}{% endif %}" class="btn yellow sort-handle"><i class="fa fa-arrows"></i></a>
                                                            <a href="#row_{{ pageRowID }}_contentModal_{{ loop.index0 }}" data-toggle="modal" data-type="{% if content.vars.value.type %}{{ content.vars.value.type.id }}{% endif %}" class="btn blue contentEditButton"><i class="fa fa-pencil"></i></a>
                                                            <a href="#" data-content="{{ loop.index0 }}" data-row="{{ pageRowID }}" class="btn red delete_content"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    {% if content.vars.value.backendTitle %}{{ content.vars.value.backendTitle }}{% elseif content.vars.value.title %}{{ content.vars.value.title }}{% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="form-body">
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
                            <a href="{{ path('dsj_cms_page') }}" class="btn btn-info"><i class="glyphicon glyphicon-ban-circle"></i> Annuleren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="AllContentModals">
        {% for pageRow in form.pageRows %}
            {% set pageRowID = loop.index0 %}
            <div id="row_{{ loop.index0 }}" class="content_modals">
                {% for content in pageRow.pageContent %}
                    <div class="modal container fade contentitem{{ pageRowID }}_{{ loop.index0 }}" id="row_{{ pageRowID }}_contentModal_{{ loop.index0 }}"  role="basic" aria-hidden="true" style="display: none; margin-top: 50px; overflow: visible;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                {% if contenttypes and contenttypes|length > 1 %}
                                    <div class="actions">
                                        <div class="btn-group">
                                            <a class="btn green" href="#" data-toggle="dropdown"><i class="fa fa-pencil"></i> Soort blok <i class="fa fa-angle-down "></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                {% for type in contenttypes %}
                                                    <li>
                                                        <a href="#" class="set_contenttype{% if content.vars.value.type.id == type.id %} active{% endif %}" data-id="{{ type.id }}">{{ type.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <h4 class="modal-title">Contentblok bewerken</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_widget(content) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn default" data-dismiss="modal" onclick="updateCkeditors();return true;">Sluit venster</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if form.pageRows|length == 0 %}
        {% do form.pageRows.setRendered %}
    {% endif %}
    {{ form_rest(form) }}
</form>

<script type="text/javascript">
    var sUrlApiGetContentType = '{{ path('dsj_cms_api_get_content_type') }}';

    {% if contenttypes and contenttypes|length > 1 %}
    var newContentTypeList = '<div class="actions"><div class="btn-group"><a class="btn green" href="#" data-toggle="dropdown"><i class="fa fa-pencil"></i> Soort blok <i class="fa fa-angle-down "></i></a><ul class="dropdown-menu pull-right">{% for type in contenttypes %}<li><a href="#" class="set_contenttype" data-id="{{ type.id }}">{{ type.title }}</a></li>{% endfor %}</ul></div></div>';
    {% else %}
    var newContentTypeList = '';
    {% endif %}

    window.onload = function() {
        page.init();
    };
</script>