{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Pagina's
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
    <li>
        <a href="{{ path('dsj_cms_page') }}">Pagina's</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Bewerken
    </li>
{% endblock %}

{% block content %}
    {% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i>Bewerken
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <form name="dsj_cms_page" method="post" action="{{ path('dsj_cms_page_edit', {id: entity.id}) }}" class="form-horizontal" id="page_form" {{ form_enctype(form) }}>
                        {% if languages %}
                        <ul class="nav nav-tabs">
                            {% for language in languages %}
                                <li{% if language.codelong == app.request.locale or language.code == app.request.locale %} class="active"{% endif %}><a href="#" class="localeButton" data-toggle="tab" data-url="{{ path('changeLocale', {'locale': language.codelong}) }}" >{{ language.language }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="form-body tab-content">
                            <div class="tab-pane fade active in" id="nl">
                                {{ form_widget(form) }}
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
                                <a href="{{ path('dsj_cms_page') }}" class="btn btn-info"><i class="glyphicon glyphicon-ban-circle"></i> Annuleren</a>
                            </div>
                        </div>
                    </form>
                    <div id="page-content-form-holder">
                        {{ render(controller('DSJCMSBackofficeBundle:Content/PageContent:form', {page: entity.id})) }}
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block pageScriptInit %}
    {{ parent() }}
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/ckeditor/styles.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>

    <script src="/bundles/dsjcmsbackoffice/assets/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/autocomplete.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/page.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            autocomplete.init();
        });
    </script>
{% endblock %}

{% block pagecss %}
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/bundles/dsjcmsbackoffice/css/page.css" rel="stylesheet" type="text/css"/>
{% endblock %}