{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Pagina's
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
    <li>
        pagina's
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('dsj_cms_page_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nieuwe pagina</a>
            <br/><br/>
            <table class="table table-striped table-bordered" id="pageTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Interne titel</th>
                        <th>Titel</th>
                        <th class="hidden-phone">Actief</th>
                        <th class="hidden-phone">Aangemaakt</th>
                        <th class="hidden-phone">Bewerken</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <a href="{{ path('dsj_cms_page_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nieuwe pagina</a>
        </div>
    </div>
{% endblock content %}


{% block pageScriptInit %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/dsjcmsbackoffice/assets/plugins/dataTables/media/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var aColumns = [
                {fetch: 'getId', column: 'id'},
                {fetch: 'getBackendTitle', column: 'backendTitle' },
                {fetch: 'getTitle', column: 'title' },
                {fetch: 'getActive', column: 'active'},
                {fetch: 'getCreated.format(d-m-Y H:i)', column: 'created'}
            ];

            var aColumnHeads = [
                { "title": "ID" },
                { "title": "Interne Titel" },
                { "title": "Titel" },
                { "title": "Actief", 'type': 'title-numeric' },
                { "title": "Aangemaakt", 'type': 'date-euro' },
                { "title": "Bewerken", "sortable": false }
            ];

            $('#pageTable').dataTable( {
                "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                "pagingType": "full_numbers",
                "lengthMenu": [10, 25, 50, 100, 250, 500],
                "displayLength": {% if index_show_amount is defined %}{{ index_show_amount }}{% else %}50{% endif %},
                "language": {
                    "info": "Toont _START_ tot _END_ van _TOTAL_ resultaten",
                    "infoEmpty": "",
                    "infoFiltered": "(van _MAX_ resultaten)",
                    "search": "<span>Zoeken:</span> ",
                    "lengthMenu": "_MENU_ pagina's per pagina",
                    "zeroRecords": "Geen resultaten",
                    "paginate": {
                        "previous": "Vorige",
                        "next": "Volgende",
                        "first": "Eerste",
                        "last": "Laatste"
                    }
                },
                "columns": aColumnHeads,
                "order": [[ 2, "asc" ]],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('dsj_cms_page_fetch') }}",
                    "type": "POST",
                    "data": {
                        "columns": aColumns
                    }
                }
            } );
        } );
    </script>
{% endblock %}