{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Pagina's
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
    <li>
        <a href="{{ path('dsj_cms_page') }}">Pagina's</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Nieuw
    </li>
{% endblock %}

{% block content %}
    {% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
    <form name="dsj_cms_page" method="post" action="{{ path('dsj_cms_page_new') }}" class="form-horizontal" id="page_form" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i>Nieuw
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        {% for language in languages %}
                            <li{% if language.codelong == app.request.locale or language.code == app.request.locale %} class="active"{% endif %}><a href="#" class="localeButton" data-toggle="tab" data-url="{{ path('changeLocale', {'locale': language.codelong}) }}" >{{ language.language }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="form-body tab-content">
                        <div class="tab-pane fade active in" id="nl">
                            {{ form_row(form._token) }}
                            {% if form.page %}
                                {{ form_row(form.page) }}
                            {% endif %}
                            {{ form_row(form.title) }}
                            {{ form_row(form.backendTitle) }}
                            {{ form_row(form.pageTitle) }}
                            {{ form_row(form.parent) }}
                            {{ form_row(form.active) }}
                            {{ form_row(form.menuItem) }}
                            {{ form_row(form.introduction) }}
                            {#{{ form_row(form.imageFile) }}#}
                            {{ form_row(form.seoTitle) }}
                            {{ form_row(form.seoDescription) }}
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
                            <a href="{{ path('dsj_cms_page') }}" class="btn btn-info"><i class="glyphicon glyphicon-ban-circle"></i> Annuleren</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
    </form>
{% endblock content %}

{% block pageScriptInit %}
    {{ parent() }}
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/ckeditor/styles.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/ckeditor/adapters/jquery.js" type="text/javascript"></script>

    <script src="/bundles/dsjcmsbackoffice/assets/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/autocomplete.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/page.js" type="text/javascript"></script>
    <script>
        {% if contenttypes and contenttypes|length > 1 %}
        var newContentTypeList = '<div class="actions"><div class="btn-group"><a class="btn green" href="#" data-toggle="dropdown"><i class="fa fa-pencil"></i> Soort blok <i class="fa fa-angle-down "></i></a><ul class="dropdown-menu pull-right">{% for type in contenttypes %}<li><a href="#" class="set_contenttype" data-id="{{ type.id }}">{{ type.title }}</a></li>{% endfor %}</ul></div></div>';
        {% else %}
        var newContentTypeList = '';
        {% endif %}

        $(function() {
            page.init();
            autocomplete.init();
        });
    </script>
{% endblock %}

{% block pagecss %}
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/bundles/dsjcmsbackoffice/css/page.css" rel="stylesheet" type="text/css"/>
{% endblock %}