{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Meldingen
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
        Meldingen
	</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="alertTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Melding</th>
                        <th>Omschrijving</th>
                        <th class="hidden-phone">Bewerken</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
</div>

{% endblock %}

{% block pageScriptInit %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/dsjcmsbackoffice/assets/plugins/dataTables/media/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var aColumns = [
                {fetch: 'getId', column: 'id'},
                {fetch: 'getAlert', column: 'alert' },
                {fetch: 'getDescription', column: 'description' }
            ];

            var aColumnHeads = [
                { "title": "ID" },
                { "title": "Melding" },
                { "title": "Omschrijving" },
                { "title": "Bewerken", "sortable": false }
            ];

            $('#alertTable').dataTable( {
                "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                "pagingType": "full_numbers",
                "lengthMenu": [10, 25, 50, 100, 250, 500],
                "displayLength": {% if index_show_amount is defined %}{{ index_show_amount }}{% else %}50{% endif %},
                "language": {
                    "info": "Toont _START_ tot _END_ van _TOTAL_ resultaten",
                    "infoEmpty": "",
                    "infoFiltered": "(van _MAX_ resultaten)",
                    "search": "<span>Zoeken:</span> ",
                    "lengthMenu": "_MENU_ meldingen per pagina",
                    "zeroRecords": "Geen resultaten",
                    "paginate": {
                        "previous": "Vorige",
                        "next": "Volgende",
                        "first": "Eerste",
                        "last": "Laatste"
                    }
                },
                "columns": aColumnHeads,
                "order": [[ 0, "asc" ]],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('dsj_cms_alert_fetch') }}",
                    "type": "POST",
                    "data": {
                        "columns": aColumns
                    }
                }
            } );
        } );
    </script>
{% endblock %}