{% block image_upload_widget %}
    {% spaceless %}
        <div class="fileupload {% if hasImage %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px; position: relative;">
                {% if hasImage %}
                    <img id="{{ imageProp }}{{ object.id }}" src="{{ vich_uploader_asset(object, imageProp) | apply_filter(previewfilter)}}">
                    <a class="btn btn-danger delete-image" style="position: absolute; top: 0; right: 0; opacity: 0.7;" href="{{ path('dsj_cms_api_remove_image', {'id': object.id, 'object': object|get_class, 'field': imageProp, 'mapping': mapping, 'name_field': file_name_field}) }}" data-target="{{ imageProp }}{{ object.id }}" ><i class="fa fa fa-trash-o"></i></a>
                    <br />
                {% else %}
                    <img src="//www.placehold.it/200x150/EEEEEE/212121&amp;text=geen+afbeelding" alt="" /><br/>
                {% endif %}
            </div>
            <div>
                <input type="file" class="default" {{ block('widget_attributes') }}/></span>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block multiple_image_upload_widget %}
    {% spaceless %}
        <div class="well" id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
        <br />

        <div id="container">
            <a id="pickfiles" class="btn btn-success" href="javascript:;"><span class="glyphicon glyphicon-plus"></span> Selecteer bestanden</a>
            &nbsp;
            <a id="uploadfiles" class="btn btn-warning" href="javascript:;"><span class="glyphicon glyphicon-upload"></span> Start uploaden</a>
        </div>

        <br />
        <div class="well row" id="console">
            {% if object.images|length > 0 %}
                {% for image in object.images %}
                    <div class="image_holder" data-object="{{ class }}" data-id="{{ image.id }}">
                        {% if image and attribute(image, imageAttribute) %}
                            <img src="{{ vich_uploader_asset(image, imageProp) | apply_filter(previewfilter)}}">
                        {% else %}
                            <img src="//www.placehold.it/150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        {% endif %}
                        <span class="btn btn-danger delete_image"><span class="glyphicon glyphicon-remove"></span></span>
                        <a href="#" id="title" class="image_title" data-type="text" data-pk="{{ image.id }}" data-url="{{ path('admin_api_update_image_title', {repository: class, env: app.session.get('subdomain')}) }}">{{ image.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <script type="text/javascript">
            var urlApiUploadMultipleImages = '{{ path('admin_api_multiple_image_upload', {'object': imageObject, 'repository': class, 'parent_object_id': object.id, 'parent_repository': parentRepo, 'image_prop': imageProp, 'filter_name': previewfilter, 'relation': relation}) }}';
            var urlApiDeleteImage = '{{ path('admin_api_delete_image') }}';
            var urlApiUpdateImagePosition = '{{ path('admin_api_update_image_position') }}';
        </script>
    {% endspaceless %}
{% endblock %}

{% block autocomplete_single_widget %}
    {% spaceless %}
        <input type="text" class="autocomplete_input form-control" placeholder="Begin met typen..." data-class="{{ class }}" {% if customMethod is defined and customMethod %}data-autocomplete-custom-method="{{ customMethod }}"{% endif %} />
        <div class="well">
            <ul class="autocomplete_list" data-autocomplete-parent-id="">
                {% if children|length > 0 %}
                    {% if multiple %}
                        {% for child in children %}
                            <li>
                                {{ child }}
                                <span class="btn btn-danger delete_autocomplete btn-sm pull-right" data-autocomplete-id="{{ child.id }}" title="Verwijderen"><span class="glyphicon glyphicon-remove"></span></span>
                            </li>
                        {% endfor%}
                    {% else %}
                        <li>
                            {{ children }}
                            <span class="btn btn-danger delete_autocomplete btn-sm pull-right" data-autocomplete-id="{{ children.id }}" title="Verwijderen"><span class="glyphicon glyphicon-remove"></span></span>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {{ form_widget(form, {'attr': {'class': 'autocomplete_widget hidden'}}) }}
        {# <select class="hidden" id="category_ids" name="category_ids" value="" /> #}
    {% endspaceless %}
{% endblock %}

{% block autocomplete_collection_widget %}
    {% spaceless %}
        <input type="text" class="autocomplete_collection_input form-control" placeholder="Begin met typen..." data-class="{{ class }}" {% if customMethod is defined and customMethod %}data-autocomplete-custom-method="{{ customMethod }}"{% endif %} />
        <div class="well">
            <ul class="autocomplete_list {{ form.vars.name }}" data-autocomplete-parent-id="">
                {% if children|length > 0 %}
                    {% for child in children %}
                        <li class="autocomplete_item" data-id="{{ child.id }}">
                            {{ child }}
                            <span class="btn red delete_autocomplete_collection btn-sm pull-right" data-url="{{ path('admin_api_autocomplete_remove') }}" data-class="{{ child|get_class }}" data-autocomplete-id="{{ child.id }}" title="Verwijderen"><i class="fa fa-trash-o"></i></span>
                        </li>
                    {% endfor%}
                {% endif %}
            </ul>
        </div>
        <div data-prototype="{{ form_widget(form.vars.prototype)|e }}" class="autocomplete_collection_widget hidden">
            {% for field in form %}
                {{ form_widget(field) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{%- block color_widget -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %} style="background-color:{{ placeholder }};">{{ placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {% for group_label, choice in options %}
            {%- if choice is iterable -%}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{- block('choice_widget_options') -}}
                </optgroup>
            {%- else -%}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %} data-bg-color="{{ choice.label|split('__')[1] }}" data-text-color="{{ choice.label|split('__')[2] }}" style="background-color:{{ choice.label|split('__')[1] }}; color:{{ choice.label|split('__')[2] }};">{{ choice.label|split('__')[0]|trans({}, translation_domain) }}</option>
            {%- endif -%}
        {% endfor %}
    </select>
{%- endblock color_widget -%}