html,body { min-height: 100%; }
html body.login
{
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login .content
{
    box-shadow:0 0 80px rgba(0,0,0,0.5);
}

ul.autocomplete_list,
div#sortable ol{
    padding: 0;
}

ul.autocomplete_list li,
div#sortable ol li {
    min-height: 30px;
    list-style-type: none;
    background-color: white;
    border: 1px solid #BEBEBE;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

div#sortable ol li {
    height: inherit;
}

ul.autocomplete_list li .delete_autocomplete_collection,
ul.autocomplete_list li .delete_autocomplete
{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.6;
    height: 29px;
}


.dropdown-menu > li > a.active {
    color: white;
    background-color: #35aa47;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.row .contentitem .panel
{
    background-color:#F0F0F0;
}

.sortable-placeholder
{
    background-color:#D0D0D0;
}

tr.unread
{
    font-weight: bold;
}

.form-group textarea
{
    min-width:500px;
    min-height:100px;
}
.make-switch
{
    width: 100px;
    height: 30px;
}
.switch-mini
{
    width: 70px;
    height: 17px;
}

.modal-backdrop
{
    border: 0 !important;
    outline: none !important;
    z-index: 9994 !important;
}

.cke_dialog, .cke_combopanel
{
    z-index: 1000000 !important;
}

.cke_dialog_background_cover
{
    z-index: 10054 !important;
    background-color: #333333 !important
}

/* TYPEAHEAD */
.twitter-typeahead{
    width: 100%;
}

.tt-input {
    background-color: #FFFFFF !important;
}

.tt-query,
.tt-hint {
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #324770;
    cursor:pointer;

}

.tt-suggestion p {
    margin: 0;
}

.sortable .portlet > .portlet-title {
    cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}

.modal > .modal-content > .modal-header > .actions
{
    display: inline-block;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    #margin-top: 6px;
    float: right;
}

.portlet > .portlet-title {
    margin-bottom: 0px;
}

/* SORTABLE TREE */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

div#sortable ol {
    margin-top: 10px;
}

div#sortable ol#first>li {
    position: relative;
}

div#sortable ol li {
    cursor: move;
    padding: 7px 5px 2px 15px;
}
div#sortable.sortable-products ol li {
    padding: 10px;
    width: 194px;
}
div#sortable.sortable-products.columns ol li {
    margin-left: 15px;
    margin-bottom: 20px;
}
div#sortable.sortable-products.columns ol li.first {
    margin-left:0px;
}
div#sortable.sortable-file-categories ol li {
    width: 160px;
}
div#sortable.sortable-file-categories ol li img {
    margin: auto;
    display: block;
}

div#sortable ol li.placeholder {
    position: relative;
    background-color: #eee;
    /** More li styles **/
}
div#sortable.sortable-products ol li.placeholder,
div#sortable.sortable-file-categories ol li.placeholder{
    width: 194px;
    min-height: 194px;
}
div#sortable ol li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

@media (max-width: 767px) {
    .form-horizontal .form-actions {
        padding-left: 0px;
    }
}

#loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 5%;
    display: none;
    z-index: 99999 !important;
}
#loader-holder {
    background-color: #FFFFFF;
    padding: 20px 30px 15px 30px;
    display: table;
    margin: auto;
    font-weight: bold;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

#page-content-form-holder {
    margin-top: 25px;
    border-top: 1px dotted rgb(85, 85, 85);
    padding-top: 15px;
}

/* SEO */

input.warning,
textarea.warning
{
    color:red;
    border:1px solid red;
}
.seo-badge
{
    position: absolute;
    top:0px;
    right:0px;
    margin:3px 20px 0 0;
    padding:8px;
    font-size: 13px !important;
    font-weight: bold;
    height:27px;
}


.seo-google-snippet
{
    display: none;
    position: relative;
    width: 100%;
    margin:20px 0;
    padding-left:30px;
    border-left: 1px solid #ddd;
}
.seo-google-snippet *
{
    font-family: arial,sans-serif !important;
    margin:0px;
}

.seo-google-snippet li.g,
.seo-google-snippet .f {
    width: 512px;
}
.seo-google-snippet a,
.seo-google-snippet a:visited {
    color: #1e0fbe;
}
.seo-google-snippet .f {
    margin-bottom: 1px;
}
.seo-google-snippet .f cite {
    line-height: 16px;
}
.seo-google-snippet .mofo_snippet {
    color: #545454;
    line-height: 1.4;
    word-wrap: break-word;
}

.seo-google-snippet .a,
.seo-google-snippet cite,
.seo-google-snippet cite a:link,
.seo-google-snippet cite a:visited,
.seo-google-snippet .cite,
.seo-google-snippet .cite:link,
.seo-google-snippet #mbEnd cite b,
.seo-google-snippet #tads cite b {
    color: #282;
    font-style: normal;
}

.seo-google-snippet h3.r {
    color: #1e0fbe;
    display: block;
    font-size: 18px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 512px;
}
.seo-google-snippet li.g,
.seo-google-snippet .std,
.seo-google-snippet .c h2,
.seo-google-snippet #mbEnd h2,
.seo-google-snippet h1 {

}

/** MULTIPLE IMAGE UPLOADER **/
#console .image_holder {
    padding: 5px;
    position: relative;
    /*float:left;*/
    width: 160px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
}

#console .image_holder:hover {
    cursor: move;
}

#console .image_holder .delete_image {
    position: absolute;
    right: 5px;
    opacity: 0.5;
    top: 5px;
}

#console .image_holder .delete_image:hover {
    opacity: 0.8;
}

div.image_placeholder {
    vertical-align: top;
    width: 150px;
    height: 220px;
    padding: 5px;
    border:1px dashed #bbb;
    background-color: #fff;
    margin: 0px 5px;
    display: inline-block;
}


ul#sortable li {
    cursor: move;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    background-color: #eaeaea;
}

div.portlet-placeholder {
    width: 100%;
    height: 100px;
    background-color: #BBBBBB;
    margin-bottom: 15px;
}