{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Tags
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
		<a href="{{ path('dsj_cms_response') }}">Tags</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		Nieuwe tag
	</li>
{% endblock %}

{% block content %}
{% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
<form name="dsj_cms_tag" method="post" action="{{ path('dsj_cms_tag_new') }}" class="form-horizontal" id="email_form" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i>Nieuw
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        {% for language in languages %}
                            <li{% if language.codelong == app.request.locale or language.code == app.request.locale %} class="active"{% endif %}><a href="#" class="localeButton" data-toggle="tab" data-url="{{ path('changeLocale', {'locale': language.codelong}) }}" >{{ language.language }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="form-body tab-content">
                        <div class="tab-pane fade active in" id="nl">
                            {{ form_widget(form) }}
                        </div>
                    </div>
				    <div class="form-actions fluid">
						<div class="col-md-offset-2 col-md-10">
							<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Opslaan</button>
							<a href="{{ path('dsj_cms_tag') }}" class="btn btn-info"><span class="glyphicon glyphicon-ban-circle"></span> Annuleren</a>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block pageScriptInit %}
    {{ parent() }}
    <script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js" type="text/javascript"></script>
{% endblock %}

{% block pagecss %}
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}