{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Gebruikers
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
		Gebruikers
	</li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE widget-->
        <div class="widget">
            <div class="widget-title">
                <h4><span class="glyphicon glyphicon-reorder"></span>Gebruikers</h4>
            </div>
            <div class="widget-body">
                <h1>Gebruikers</h1>

                <a href="{{ path('dsj_cms_user_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nieuwe gebruiker</a>
                <br/><br/>

                <table class="table table-striped table-bordered" id="usersTable">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>E-mailadres</th>
                            <th class="hidden-phone">Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.email }}</td>
                                <td>
                                    <a href="{{ path('dsj_cms_user_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-sm" title="Bewerken"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('dsj_cms_user_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nieuwe gebruiker</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pageScriptInit %}
{{ parent() }}
<script type="text/javascript" src="/bundles/store24backoffice/js/dataTable.custom.js"></script>
<script type="text/javascript" src="/bundles/store24backoffice/assets/plugins/data-tables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	
	
    $('#usersTable').dataTable( {
        "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
        "sPaginationType": "bootstrap",
        "aLengthMenu": [10, 25, 50, 100, 250, 500],
        "iDisplayLength": {% if index_show_amount is defined %}{{ index_show_amount }}{% else %}50{% endif %},
        "oLanguage": {
            "sSearch": "<span>Zoeken:</span> ",
            "sLengthMenu": "_MENU_ gebruikers per pagina",
            "sInfo": "Toont <span>_START_</span> tot <span>_END_</span> van <span>_TOTAL_</span> resultaten",
            "oPaginate": {
                "sPrevious": "Vorige",
                "sNext": "Volgende",
                "sFirst": "Eerste",
                "sLast": "Laatste"
            }
        },
        "aoColumnDefs": [{
            'bSortable': false,
            'aTargets': [2]
        }]
    } );

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    } );
} );
</script>
{% endblock %}