{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Gebruikers
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
		<a href="{{ path('dsj_cms_user') }}">Gebruikers</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		Nieuwe gebruiker
	</li>
{% endblock %}

{% block content %}
	{% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
	<form name="dsj_cms_admin_user" method="post" action="{{ path('dsj_cms_user_new') }}" class="form-horizontal" id="email_form" {{ form_enctype(form) }}>
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN Portlet PORTLET-->
				<div class="portlet">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-plus"></i>Nieuw
						</div>
						<div class="actions">
						</div>
					</div>
					<div class="portlet-body">
						<div class="form-body tab-content">
							<div class="tab-pane fade active in" id="nl">
								{{ form_widget(form) }}
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="col-md-offset-2 col-md-10">
								<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Opslaan</button>
								<a href="{{ path('dsj_cms_user') }}" class="btn btn-info"><span class="glyphicon glyphicon-ban-circle"></span> Annuleren</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}