{% if user.image %}
    <img src="{{ vich_uploader_asset(user, 'imageFile') | apply_filter('user_tiny')}}" alt="" />
{% else %}
    <img alt="" src="/bundles/dsjcmsbackoffice/assets/img/anonymous.png" width="29"/>
{% endif %}