{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        E-mails
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
		<a href="{{ path('dsj_cms_email') }}">E-mails</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		E-mail bewerken
	</li>
{% endblock %}

{% block content %}
{% form_theme form 'DSJCMSBackofficeBundle:Form:template.html.twig' %}
<form name="dsj_cms_email" method="post" action="{{ path('dsj_cms_email_edit', {id: entity.id}) }}" class="form-horizontal" id="email_form" {{ form_enctype(form) }}>
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN Portlet PORTLET-->
			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-pencil"></i>Bewerken
					</div>
					<div class="actions">
					</div>
				</div>
				<div class="portlet-body">
					<ul class="nav nav-tabs">
						{% for language in languages %}
	<li{% if language.codelong == app.request.locale or language.code == app.request.locale %} class="active"{% endif %}><a href="#" class="localeButton" data-toggle="tab" data-url="{{ path('changeLocale', {'locale': language.codelong}) }}" >{{ language.language }}</a></li>
{% endfor %}
					</ul>
					<div class="form-body tab-content">
						<div class="tab-pane fade active in" id="nl">
							{{ form_widget(form) }}
						</div>
					</div>
					<div class="row">
						<div class="form-body">
							<div class="form-actions fluid">
								<div class="col-md-offset-2 col-md-10">
									<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
									<a href="{{ path('dsj_cms_email') }}" class="btn btn-info"><i class="glyphicon glyphicon-ban-circle"></i> Annuleren</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}