{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block pageTitle %}
    <h3 class="page-title">
        Menu volgorde
    </h3>
{% endblock %}

{% block breadcrumbsAdd %}
	<li>
		Menu volgorde
	</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div id="sortable" class="well">
                    {% if entities|length > 0 %}
                        {% include 'DSJCMSBackofficeBundle:Content/Sequence:items.html.twig' with {entities: entities, parent: null, first:true} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageScriptInit %}
    {{ parent() }}
    <script src="/bundles/dsjcmsbackoffice/js/jquery-sortable.min.js" type="text/javascript"></script>
    <script src="/bundles/dsjcmsbackoffice/js/sortable.js" type="text/javascript"></script>

    <script type="text/javascript">
        var sEntity = escape('Content\\Page');
        var urlUpdateSequence = "{{ path('dsj_cms_api_update_page_sequence') }}";
        $(function() {
            initSortable("div#sortable ol#first", true, true);
        });
    </script>
{% endblock %}