<ol {% if first == true %}id="first"{% else %}class="sortable"{% endif %} {% if parent != null %}data-parent-id="{{ parent.id }}"{% endif %}>
{% for entity in entities %}
	<li data-id="{{ entity.id }}" >
		{{ entity.title }}
		{% if entity.menuChildren(false)|length > 0 %}
			{% include 'DSJCMSBackofficeBundle:Content/Sequence:items.html.twig' with {entities: entity.menuChildren(false), parent: entity, first:false} %}
		{% endif %}
		<ol data-parent-id="{{ entity.id }}"></ol>
	</li>
{% endfor %}
</ol>