<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0.3
Version: 1.5.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>DSJCMS | Backoffice</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">
    {# <meta content="width=device-width, initial-scale=1.0" name="viewport"/> #}
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/dataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/bundles/dsjcmsbackoffice/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/pages/tasks.css" rel="stylesheet" type="text/css"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/bundles/dsjcmsbackoffice/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/pepper-grinder/jquery-ui.css" type="text/css" rel="Stylesheet" class="ui-theme">
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet" type="text/css"/>

    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>

    {% block pagecss %}
    {% endblock %}

    <!-- END THEME STYLES -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        <!-- BEGIN LOGO -->
        <a class="navbar-brand" href="{{ path('dsj_cms_index') }}">
        	<img src="/bundles/dsjcmsbackoffice/assets/img/dsjcms-logo.png" alt="logo" class="img-responsive" style="border-right: 80px solid #fff;margin: -14px 0 0;max-height: 42px;" />
        </a>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <img src="/bundles/dsjcmsbackoffice/assets/img/menu-toggler.png" alt=""/>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				{{ render(controller("DSJCMSBackofficeBundle:Account/User:showThumbnail", {id: app.user.id})) }}
                <span class="username">
                    {{ app.user.name }}
                </span>
                <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('dsj_cms_user_edit', {'id': app.user.id}) }}"><i class="fa fa-user"></i> Mijn gegevens</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> Volledig scherm</a>
                    </li>
                    <li>
                        <a href="{{ path('dsj_cms_logout') }}"><i class="fa fa-key"></i> Uitloggen</a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            {% block leftMenu %}
                {{ render(controller('DSJCMSBackofficeBundle:System:menu', {menu: menu, submenu: submenu })) }}
            {% endblock %}
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            {% include 'DSJCMSBackofficeBundle:Partials:flash.html.twig' %}
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                             Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    {% block pageTitle %}
                    <h3 class="page-title">
                    Dashboard <small>statistieken en meer</small>
                    </h3>
                    {% endblock pageTitle %}
                    
                    {% block breadcrumbs %}
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{{ path('dsj_cms_index') }}"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        {% block breadcrumbsAdd %}
                        {% endblock %}
                        {% block daterange %}
                        
                        {% endblock %}
                    </ul>
                    {% endblock %}
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            
            {% block content %}

            {% endblock content %}
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
         &copy; {{ "now"|date('Y') }} DSJ Productions
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>

<div id="loader">
    <div id="loader-holder">
        <p><img src="/bundles/dsjcmsbackoffice/assets/img/ajax-loading.gif" /></p>

        <p>Even geduld a.u.b.</p>
    </div>
</div>

<div class="modal container fade in" tabindex="-1" role="dialog" aria-labelledby="emailModal" id="emailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/respond.min.js"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="{{ asset('bundles/dsjcmsbackoffice/assets/plugins/ckeditor/ckeditor.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/dsjcmsbackoffice/assets/plugins/ckeditor/config.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/dsjcmsbackoffice/assets/plugins/ckfinder/ckfinder.js')}}" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<!-- END PAGE LEVEL PLUGINS -->
<script src="/bundles/dsjcmsbackoffice/assets/plugins/plupload/js/plupload.full.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/bundles/dsjcmsbackoffice/assets/scripts/core/app.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/scripts/custom/index.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="/bundles/dsjcmsbackoffice/js/jquery.form.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/js/autocompleteCollection.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/js/admin.js" type="text/javascript"></script>

<script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        init_autocomplete();
        init_autocomplete_actions();
    });
    var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
    $.fn.bootstrapDP = datepicker;                 // give $().bootstrapDP the bootstrap-datepicker functionality
    $('.datepicker').bootstrapDP({
        format: 'yyyy-mm-dd'
    });
</script>

{% block pageScriptInit %}
<script type="text/javascript">
    var sessionStatusUrl = '{{ path('sessionStatus') }}';
    var urlAPIAutocomplete = '{{ path('dsj_cms_api_autocomplete') }}';

    if(typeof sExtraFooterScript !== 'undefined') {
        eval(sExtraFooterScript);
    }
</script>
{% endblock %}

<!-- SEO SNIPPET -->

<div class="seo-google-snippet">
    <h3 class="r"><a class="l" onclick="return false;" href="#"><span id="out_title" class="title">{{ website_name }}</span></a></h3>
    <div class="s">
        <div class="f kv">
            <cite><span id="out_url">{{ http_host }}</span><span id="out_dash1" style="display: inline;"></span></cite>
        </div>
        <div class="f kv">
            <span id="out_datesnip"><span class="mofo_snippet"><span id="out_snippet" class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur nisl sit amet erat dictum ultricies. Aliquam eu lacinia eros. Vestibulum finibus ...</span></span></span>
        </div>
    </div>
</div>


<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
