{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="app-alerts alert alert-info fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>{{ flashMessage|raw }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="app-alerts alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>{{ flashMessage|raw }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="app-alerts alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-lg fa fa-warning"></i>  {{ flashMessage|raw }}</div>
{% endfor %}