<div class="image_holder" data-object="{{ class }}" data-id="{{ object.id }}">
	<img src="{{ vich_uploader_asset(object, imageProp) | apply_filter(filterName)}}">
	<span class="btn btn-danger delete_image"><span class="glyphicon glyphicon-remove"></span></span>
	<a href="#" id="title" class="image_title" data-type="text" data-pk="{{ object.id }}" data-url="{{ path('admin_api_update_image_title', {repository: class, env: app.session.get('subdomain')}) }}">{{ object.title }}</a>
</div>