{% extends 'DSJCMSBackofficeBundle::layout.html.twig' %}

{% block content %}
<div id="page" class="dashboard">
	<h1>Dashboard</h1>
	<div id="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			</div>
		</div>
	</div>
</div>
{% endblock %}