<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0.3
Version: 1.5.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>DSJCMS | Backoffice</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta name="MobileOptimized" content="320">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/bundles/dsjcmsbackoffice/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/bundles/dsjcmsbackoffice/assets/plugins/select2/select2-metronic.css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="/bundles/dsjcmsbackoffice/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/pages/login.css" rel="stylesheet" type="text/css"/>
<link href="/bundles/dsjcmsbackoffice/assets/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="/bundles/dsjcmsbackoffice/assets/scripts/custom/trianglify.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico"/>
</head>
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo" style="padding-bottom: 0px;">
    <img src="/bundles/dsjcmsbackoffice/assets/img/dsjcms-logo.png" style="width:360px;border-bottom:1px solid #333;" alt=""/>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="{{ path("dsj_cms_login_check") }}" method="post">
        <h3 class="form-title">Inloggen</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>
                 {% if error %}
                    {{ error }}
                 {% endif %}
            </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Gebruikersnaam</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Gebruikersnaam" name="_username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Wachtwoord</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Wachtwoord" name="_password"/>
            </div>
        </div>
        <div class="form-actions">
        	<input type="checkbox" id="remember_me" name="_remember_me" />
            <label class="checkbox" for="remember_me"> Onthoud mij </label>
            <button type="submit" class="btn green pull-right">
            Inloggen <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
        <div class="forget-password">
            <h4>Wachtwoord vergeten ?</h4>
            <p>
                geen zorgen, klik <a href="javascript:;" id="forget-password">hier</a>
                om je wachtwoord te wijzigen.
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" id="forget-form" action="{{ path('dsj_cms_forgot_password') }}">
        <h3>Wachtwoord vergeten ?</h3>
        <p>
             Vul hieronder je e-mailadres in om je wachtwoord te wijzigen.
        </p>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-mailadres" name="email"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Terug </button>
            <button type="submit" class="btn green pull-right">
            Verstuur <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    &copy; {{ "now"|date('Y') }} DSJ Productions
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/respond.min.js"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/bundles/dsjcmsbackoffice/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/bundles/dsjcmsbackoffice/assets/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/bundles/dsjcmsbackoffice/assets/scripts/core/app.js" type="text/javascript"></script>
<script src="/bundles/dsjcmsbackoffice/assets/scripts/custom/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init();
        Login.init();
    });

    var t = new Trianglify();
    var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
    document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>