{% if submenu is not defined %}
  {% set submenu ='' %}
{% endif %}

<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone">
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <br/>
    </li>
    {# <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search" action="extra_search.html" method="POST">
            <div class="form-container">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..."/>
                    <input type="button" class="submit" value=" "/>
                </div>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li> #}
    <li class="{% if menu == 'index' %}start active{% endif %}">
        <a href="{{ path('dsj_cms_index') }}">
        <i class="fa fa-home"></i>
        <span class="title">
            Dashboard
        </span>
        <span class="selected">
        </span>
        </a>
    </li>

    {% if 'content' in aMenu|keys and aMenu.content|length > 0 %}
    <li class="{% if menu == 'content' %}start active{% endif %}">
        <a href="javascript:;">
        <i class="fa fa-file"></i>
        <span class="title">
            Inhoud
        </span>
        <span class="arrow ">
        </span>
        </a>
        <ul class="sub-menu">
            {% if 'page' in aMenu.content %}
            <li{% if submenu == 'page' %} class='active'{% endif %}>
                <a href="{{ path('dsj_cms_page') }}">
                    Pagina's</a>
            </li>
            {% endif %}
            {% if 'slide' in aMenu.content %}
                <li{% if submenu == 'slide' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_slide') }}">
                        Slides</a>
                </li>
            {% endif %}
            {% if 'email' in aMenu.content %}
                <li{% if submenu == 'email' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_email') }}">
                        E-mails</a>
                </li>
            {% endif %}
            {% if 'response' in aMenu.content %}
                <li{% if submenu == 'response' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_response') }}">
                        Reacties</a>
                </li>
            {% endif %}
            {% if 'alert' in aMenu.content %}
                <li{% if submenu == 'alert' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_alert') }}">
                        Meldingen</a>
                </li>
            {% endif %}
            {% if 'content' in aMenu.content %}
                <li{% if submenu == 'content' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_content') }}">
                        Losse inhoud</a>
                </li>
            {% endif %}
            {% if 'sequence' in aMenu.content %}
                <li{% if submenu == 'sequence' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_sequence') }}">
                        Menu volgorde</a>
                </li>
            {% endif %}
            {% if 'tag' in aMenu.content %}
                <li{% if submenu == 'tag' %} class='active'{% endif %}>
                    <a href="{{ path('dsj_cms_tag') }}">
                        Tags</a>
                </li>
            {% endif %}
            {% block menuContent %}
            {% endblock %}
        </ul>
    </li>
    {% endif %}
    {% if 'newsletter' in aMenu|keys and aMenu.newsletter|length > 0 %}
    <li class="{% if menu == 'newsletter' %}start active{% endif %}">
        <a href="javascript:;">
        <i class="fa fa-envelope"></i>
        <span class="title">
            Nieuwsbrief
        </span>
        <span class="arrow ">
        </span>
        </a>
        <ul class="sub-menu">
            {% if 'newsletter' in aMenu.newsletter %}
            <li{% if submenu == 'newsletter' %} class='active'{% endif %}>
                <a href="{{ path('dsj_cms_newsletter') }}">
                    Nieuwsbrieven</a>
            </li>
            {% endif %}
            {% block menuNewsletter %}
            {% endblock %}
        </ul>
    </li>
    {% endif %}
    {% block additionalMenu %}
    {% endblock additionalMenu %}
    {% if 'settings' in aMenu|keys and aMenu.settings|length > 0 %}
        <li class="{% if menu == 'settings' %}start active{% endif %}">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
        <span class="title">
            Instellingen
        </span>
        <span class="arrow ">
        </span>
            </a>
            <ul class="sub-menu">
                {% if 'language' in aMenu.settings %}
                    <li{% if submenu == 'language' %} class='active'{% endif %}>
                        <a href="{{ path('dsj_cms_language') }}">
                            Talen</a>
                    </li>
                {% endif %}
                {% if 'user' in aMenu.settings %}
                    <li{% if submenu == 'user' %} class='active'{% endif %}>
                        <a href="{{ path('dsj_cms_user') }}">
                            Gebruikers</a>
                    </li>
                {% endif %}
                {% block menuSettings %}
                {% endblock %}
            </ul>
        </li>
    {% endif %}
</ul>
<!-- END SIDEBAR MENU -->
